@import "vars";


// content
html, body {
  position: relative; 
  font-family: $headline-font;
}
head, script, link  { display: none; }
p { display: inline-block; }
span,em,strong { display: inline; }
em { font-style: italic; }
strong { font-weight: bold; }

body {
  background: $color-bg;
  font-size: 16px;
}

#root {
  min-height: 900px;
}

blockquote {
  border-left: $pad solid $color-lightgrey;
  padding-left: $pad;
}

@for $i from 6 through 1 {
  h#{$i} {
    font-size: 9/($i + 2) * 1em;;
  }
}

h2.error {
  color: $color-error;
}


// form
label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;
}

textarea, input {
  background: $color-form-box;
  border: none;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 15px;
  transition: 350ms all;

  &:focus {
    background: $color-form-focus;
    color: $color-form-box;
  }

  &::placeholder {
    font-family: $headline-font;
    font-size: 16px;
    font-weight: bold;
    color: $color-secondary;
  }
}

button {
  cursor: pointer;
}

button,input[type="submit"] {
  background: $color-secondary;
  padding: $pad;
  border: none;
  border-radius: 3px;
  font-family: $font-primary;
  color: $color-tertiary;
  font-size: 14px;

  &:hover {
    background: $color-tertiary;
    color: $color-secondary;
  }

  &:active {
    background: $color-secondary;
  }
}

footer {
  height: 40px;
  background: #000;
  border-top: solid 5px #fff;
  margin-top: 100px;
}

// lists
ul,ol,li { margin-left: $pad * 2; }
li { display: list-item;
  font-family: $font-primary;
  font-weight: bold;
}
ul li { list-style: disc; }
ol li { list-style: decimal; }
ol ol li , ul ol li { list-style: lower-alpha; }
ol ul li , ul ul li { list-style: square; }

nav ul { 
  list-style-type: none;
}

nav ul li a { 
  display: inline-block;
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  color: $color-primary; /* dark blue */
  font-family: $headline-font;
  font-size: 1em;
}	

nav ul li a:hover, nav ul li a:focus { 
  color: $color-secondary; 
  font-weight: bold;
}