@import url('https://fonts.googleapis.com/css?family=Lora|Shadows+Into+Light+Two');

// label these according to a:link, a:hover, a:visited, h1, h2, h3, p, etc.
$color-bg: #A7D2CB;

$color-primary: rgb(124, 49, 77);
$color-secondary: #C98474;
$color-tertiary: #F2D388;

$color-error: red;

$color-form-box: #F2D388;
$color-form-focus: rgb(124, 49, 77);

$color-black: #000;
$color-white: #fff;

$pad: 0.5em;

$headline-font: 'Shadows Into Light Two', cursive;
$font-primary: 'Lora', serif;